/* Styling for SongList -- json assignment, index.html */

*{
    padding: 0;
    margin: 0;
}

.container{
    padding: 20px;
    width: 70%;
    margin: auto;
}

.block, #displayHelp{
    margin: 20px;
    border-bottom: 2px dotted #000;
    padding-bottom: 20px;
}

span{
    font-weight: bold;
}

#displayHelp p{
    margin-bottom: 20px;
}

#displayChoice{
    display: flex;
}

li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

#displayChoice input{
    background-color: inherit;
    border-radius: 25px;
    border-width: 3px;
    padding: 5px;
    font-weight: bold;
}

h2{
    padding-bottom: 10px;
}

input[name='filterBtn']{
    width: 100px;
    background-color: inherit;
    font-weight: bold;
    margin-top: 10px;
    border-width: 3px;
    margin-bottom: 20px;

}

input[name='filterBtn']:hover{
    opacity: 0.6;
}

select[name='genreSelect']{
    padding-left: 10px;
}

select[name='genreSelect'], input[name='filterBtn']{
    border-radius: 25px;
    font-size: 16px;
}

@media(max-width:900px){
    .container{width:95%}
    #displayChoice{display: block;}
    li{margin-bottom: 20px;}
}


/********** Borders for containers *********/
/* body{border:1px solid orange} */
/* .container{border:1px solid blue} */
/* .block{border:1px solid green} */
