*{
    padding: 0;
    margin: 0;
}

.container{
    padding: 20px;
    width: 70%;
    margin: auto;
}

.block{
    margin: 20px;
    border-bottom: 2px dotted #000;
    padding-bottom: 20px;
}

h2{
    padding-bottom: 10px;
}

input[name='filterBtn']{
    width: 100px;
    background-color: inherit;
    font-weight: bold;
    margin-top: 10px;
    border-width: 3px;
    margin-bottom: 20px;

}

input[name='filterBtn']:hover{
    opacity: 0.6;
}

select[name='genreSelect']{
    padding-left: 10px;
}

select[name='genreSelect'], input[name='filterBtn']{
    border-radius: 25px;
    font-size: 16px;
}

@media(max-width:900px){
    .container{width:95%}
}


/********** Borders for containers *********/
/* body{border:1px solid orange} */
/* .container{border:1px solid blue} */
/* .block{border:1px solid green} */